# Frontend
frontend/node_modules/
frontend/dist/

# Backend
backend/target/
backend/uploads/

# IDE
.idea/
.vscode/

# Logs
*.log

# Zip files
*.zip

# OS
.DS_Store
Thumbs.db

# H2 Database
backend/*.mv.db
backend/*.trace.db